@import '../../../styles/variables';

.introductionContainer {
	@include flexCenter(column, center, space-between);

	min-height: 100vh;
	padding: 2rem 0;

	.salutationSpan {
		@include flexCenter(row, flex-start, center);
		.helloImg {
			display: inline;
			width: 3rem;
			height: 3rem;
			filter: saturate(200%);
			margin-right: 2rem;
		}
		.salutation {
			color: $secondaryFontColor;
			font-weight: 500;
		}
	}

	.name {
		color: $primaryAccentColor;
		font-weight: 500;
	}

	.carrerObjective {
		color: $secondaryFontColor;
		font-weight: 400;
	}

	.shortIntro {
		color: $primaryFontColor;
		font-weight: 400;
		line-height: 2rem;
	}

	.buttonContainer {
		.contactBtn {
			@include buttonStyle;

			margin: 2rem 3rem 0 0;
			background-color: $primaryAccentColor;
			color: $contrastColor;
			box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.4);

			transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
				box-shadow 200ms ease-in-out;
			&:hover {
				background-color: transparent;
				color: $primaryAccentColor;
				box-shadow: none;
			}
		}

		.resumeBtn {
			@include buttonStyle;
		}
	}
}
