@import '../../../styles/variables';

.introductionContainer {
	@include flexCenter(column, center, space-between);

	@media only screen and (max-width: $mobileSize) {
		padding-top: 3 * $sidePaddingMob;
	}

	.salutationSpan {
		@include flexCenter(row, flex-start, center);
		.helloImg {
			display: inline;
			width: 3rem;
			height: 3rem;
			filter: saturate(200%);
			margin-right: 2rem;
		}
		.salutation {
			color: $secondaryFontColor;
			font-weight: 500;
		}
	}

	.name {
		color: $primaryAccentColor;
		font-weight: 500;
	}

	.carrerObjective {
		color: $secondaryFontColor;
		font-weight: 400;
	}

	.shortIntro {
		color: $primaryFontColor;
		font-weight: 400;
	}

	.contactBtn {
		@include buttonStyle;
		margin-top: 1rem;
	}
}
