@import '../../../styles/variables';

.footerContainer {
	@include flexCenter(row, space-between, flex-start);

	width: 100%;
	padding: 2rem 0;

	color: $secondaryAccentColor;

	@media only screen and (max-width: $mobileSize) {
		padding-top: 3 * $sidePaddingMob;
		@include flexCenter(column, center, center);
	}

	.socialLinksContainer {
		@media only screen and (max-width: $mobileSize) {
			@include flexCenter(column, center, center);
			margin: 0rem;
		}

		max-width: 400px;

		.socialLinksTitle {
			width: 100%;
			margin-bottom: 1rem;
			font-weight: normal;

			color: $primaryAccentColor;

			@media only screen and (max-width: $mobileSize) {
				@include flexCenter(column, center, center);
			}
		}

		width: 60%;

		.socialLinks {
			width: 100%;
			@include flexCenter(row, space-between, flex-start);

			@media only screen and (max-width: $mobileSize) {
				margin: 0;
				width: 100%;
			}

			.link {
				transition: color 200ms ease-in-out;
				&:hover {
					color: $primaryAccentColor;
				}

				svg {
					transition: transform 200ms ease-in-out;
					transform: scale(1.25);

					&:hover {
						animation: bounce 500ms ease-in-out infinite;
					}

					@keyframes bounce {
						0%,
						100% {
							transform: scale(1.25) translateY(0);
						}
						50% {
							transform: scale(1.25) translateY(-10px);
						}
					}
				}
			}
		}
	}

	.resumeQrCode {
		@include flexCenter(row, center, center);

		padding-left: 4rem;
		min-height: 250px;
		border-left: 1px solid $secondaryColor;

		a {
			@include flexCenter(column, center, center);
			transition: color 200ms ease-in-out;
			&:hover {
				color: $primaryAccentColor;
			}
		}

		@media only screen and (max-width: $mobileSize) {
			padding-left: 0;
			margin-top: 2rem;
			border: none;
		}
	}
}
