@import '../../../styles/variables';

.footerContainer {
	@include flexCenter(column, center, center);

	width: 100%;

	@media only screen and (max-width: $mobileSize) {
		padding-top: 3 * $sidePaddingMob;
	}

	background-color: red;

	.sayHello {
		@include buttonStyle;
		margin: 2rem;
	}
}
