@import '../../styles/variables';

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.navContainer {
  position: fixed;

  @include flexCenter(row);
  justify-content: space-between;

  padding: 1rem;

  width: 100%;

  background-color: rgba(17, 52, 80, 0.438);

  .hamburgerMenuContainer {
    position: fixed;
    right: 1rem;

    transform: rotate(180deg);
    align-items: center;
    z-index: 1;

    width: 1.5rem;
    height: 1rem;

    cursor: pointer;

    display: none;

    transition: all 0.25s ease-in-out;

    @media (max-width: $mobileSize) {
      @include flexCenter(row);
      justify-content: flex-start;
    }

    .hamburgerMenu {
      opacity: 0;
      transition: all 0.25s ease-in-out;
      @media (max-width: $mobileSize) {
        width: 65%;
        height: 10%;

        background-color: black;
        border-radius: 1000px;
        opacity: 1;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: inherit;

          background-color: inherit;
          border-radius: 1000px;
          transition: all 0.25s ease-in-out;
        }

        &::before {
          bottom: 0;
        }

        &::after {
          top: 0;
        }
      }
    }

    .close {
      display: none;

      @media (max-width: $mobileSize) {
        display: block;
        width: 65%;
        height: 8%;
        background-color: transparent;

        border-radius: 1000px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 100% * 1.414;
          height: inherit;

          background-color: black;
          border-radius: 1000px;
          transition: all 0.25s ease-in-out;
        }

        &::before {
          bottom: 0;
          transform-origin: 0% 50%;
          transform: rotateZ(-45deg) translateY(20%) translateX(-2%);
        }

        &::after {
          top: 0;
          transform-origin: 0% 50%;
          transform: rotateZ(45deg) translateY(-20%) translateX(-2.5%);
        }
      }
    }
  }

  .blurContainer {
    position: fixed;
    display: none;

    @media (max-width: $mobileSize) {
      display: block;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;

      transition: all 0.25s ease-in-out 0.25s;
    }
  }

  .listContainer {
    display: block;
    .list {
      @include flexCenter(row);
      justify-content: space-between;

      list-style: none;
      .listItem {
        margin-left: 2rem;
      }
    }
    @media (max-width: $mobileSize) {
      display: none;
    }
  }

  .listContainerAside {
    position: fixed;
    background-color: red;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    .listAside {
      @include flexCenter(row);
      justify-content: space-between;

      list-style: none;
      .listItemAside {
        margin-left: 2rem;
      }
    }

    @media (max-width: $mobileSize) {
      @include flexCenter(row);
      align-items: flex-end;

      transform: translateX(100%);
      .listAside {
        background-color: rgba(17, 52, 80, 0.438);

        z-index: 2;
        position: relative;
        @include flexCenter(column);

        height: 100%;
        width: 60%;

        .listItemAside {
          padding: 0 3rem;
          margin: 1rem 0;
        }
      }
      transition: all 0.25s ease-in-out;
    }
  }
}
