@import '../../styles/variables';

@mixin flexCenter(
	$flexDirection,
	$justifyContent: center,
	$alignItems: center
) {
	display: flex;
	flex-direction: $flexDirection;
	justify-content: $justifyContent;
	align-items: $alignItems;
}

.sectionContainer {
	position: relative;
	width: 100%;

	z-index: 2;

	@media only screen and (min-width: $monitorSize) {
		padding: 0 $sidePaddingMon;
	}

	@media only screen and (max-width: $monitorSize) and (min-width: $mobileSize) {
		padding: 0 $sidePaddingTab;
	}

	@media only screen and (max-width: $mobileSize) {
		padding: 0 $sidePaddingMob;
	}

	@include flexCenter(column, center, flex-start);
}
