@import '../../styles/variables';

@mixin flexCenter(
  $flexDirection,
  $justifyContent: center,
  $alignItems: center
) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

.sectionContainer {
  width: 100%;
  min-height: 100vh;

  @media only screen and (min-width: $tabSize) {
    padding: 0 $sidePaddingMon;
  }

  @media only screen and (max-width: $tabSize) and (min-width: $mobileSize) {
    padding: 0 $sidePaddingTab;
  }

  @media only screen and (max-width: $mobileSize) {
    padding: 0 $sidePaddingMob;
  }

  @include flexCenter(column, center, flex-start);
}
