@import '../../styles/variables';

@mixin flexCenter(
  $flexDirection,
  $justifyContent: center,
  $alignItems: center
) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

.sectionContainer {
  width: 100%;
  min-height: 100vh;
  padding: 5rem;

  @media (max-width: $mobileSize) {
    padding: $sidePadding;
  }

  @include flexCenter(column, center, flex-start);
}
