$mobileSize: 600px;
$navColor: #222629a0;
$sidebarColor: rgb(17, 52, 80);
$hamburgerColor: rgb(255, 255, 255);

$primaryColor: #61892f;
$primaryAccentColor: #86c232;
$contrastColor: #222629;
$secondaryColor: #474b4f;
$secondaryAccentColor: #6b6e70;
