$mobileSize: 600px;
$sidePadding: 2rem;

$navColor: #222629a0;
$sidebarColor: rgb(17, 52, 80);
$hamburgerColor: rgb(255, 255, 255);

$primaryColor: #7fb43d;
$primaryAccentColor: #98db3b;
$contrastColor: #1c1f22;
$secondaryColor: #7e8992;
$secondaryAccentColor: #878b8d;
